
{% extends 'base.html' %}

{% block title %}Create A New Blog Post..{% endblock %}


{% block content %}

{% if user.is_authenticated %}
	<h2>Add Post</h2><hr>

	<div class="form-group container shadow p-4 md-5 bg-body">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.media }}
			{{ form.as_p }}
			<button class="btn btn-secondary">Post</button>
			
		</form>
	</div><br><br>

	<script>
		var name = "{{ user.id }}";
		document.getElementById("tani").value = name;
	</script>

{% else %}
You're not allowed here! [And you know it...]
{% endif %}



{% endblock %}